.Main {
    height: 300px;
    display: flex;
}

.Main-left , .Main-right {
    height: 590px;
}

.Main-left {
    flex: 1 1;
    background-color: #DDE8EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.path-wrapper a {
    text-decoration: none;
    color: black;
}

.tag-label {
    height: 100px;
    background-color: white;
    width: 100%;
    padding: 1% 2%;
}

.Main-right {
    flex: 2.5 1;
    background-color: #f9f9f9;
}